//variables:
$body-color:rgb(252, 252, 252);
$body-font:helvetica,sans-serif,arial;
$primary-color:rgba(201, 214, 233, 0.151);
$link:$primary-color;
$nav_color:gray;
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: $body-color;
    font-family: $body-font;
    color: $primary-color;
    display: grid;
}
.navbar{
  background-color: rgb(0, 33, 133);
padding: 10px;
  .brand{
    float: left;
    width: 30%;
 align-items: center;
    text-transform: uppercase;
  }
  .links{
    float:left;
    width: 70%;
  }
ul{
 list-style: none; 
 padding: 0;
 margin: 0;
 
}
 li{
  display: block;
  padding: 10px 15px;
  text-transform: uppercase;
  float: right;
  border:1px solid rgb(6, 51, 250);
  border-radius: 2px;
}
}
  .clearfix{/////important any project/////
    clear: both;
  }
 
.login{
  background-color: #000;
  padding: 15px;
}
 

.main{
 display: flex;
 margin: 0;
 aside{
 width: 25%;
margin-right: 0;

    }
    main{
      display: flex;
      flex-wrap: wrap;
        width: 75%;
margin-left: 0;
    }
    .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 200px;
    margin: auto;
    text-align: center;
    font-family: arial;
      button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  button:hover {
    opacity: 0.7;
  }
  img{
      width: 200px;
      height: 129px;
  }
  }
}

  /* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    margin: 0;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #ccc;
  }
  .accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  }
footer{
  height: 150px;
  background-color: #000;
  margin-top: 10px;
}
  
